<form action="/payment" method="POST">
<script 
    src="https://checkout.stripe.com/checkout.js"
    class = "stripe-button"
    data-key ="pk_test_mZ05Yq1PfRDVyAudrQQ8exo100iNXE8xEL"
    data-amount="100"
    data-name="ask-doctor"
    data-description="to ask or consult with doctor"
    data-locale="auto"
    data-currency="inr">
    </script>
    <input type="hidden" name="chargeAmount" value="100">
</form>